* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 250px;
    height: 75px;

    background-color: #333;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main {
    width: 250px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 0 10px;
}

input {
    background-color: transparent;
    border: 1px solid #666;
    color: #fff;

    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;

    font-size: 18px;
    padding: 5px 10px;

    width: 75px;

    text-align: center;
}

input:focus {
    outline: none;
}

button {
    background-color: #666;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 2.5px 5px;
    font-size: 18px;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
    transition: translate 0.15s ease-in-out;
    -webkit-transition: translate 0.15s ease-in-out;
    -moz-transition: translate 0.15s ease-in-out;
    -ms-transition: translate 0.15s ease-in-out;
    -o-transition: translate 0.15s ease-in-out;
}

#prev:hover {
    translate: -2.5px 0;
}

#extra-prev:hover {
    translate: -2.5px 0;
}

#next:hover {
    translate: 2.5px 0;
}

#extra-next:hover {
    translate: 2.5px 0;
}

footer {
    width: 100%;
    height: fit-content;

    padding: 5px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    border-top: 1px solid #666;
    background-color: #444;
}

footer p {
    text-wrap: nowrap;
}

footer a {
    color: #fff;
    text-decoration: none;
    text-wrap: nowrap;

    opacity: 50%;
}

footer a:hover {
    opacity: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}